@using FleetManagment.Client.Pages;
@using FleetManagment.SharedModels.Customers

<h3>CustomersTable</h3>

<table class="table table-striped">
    <thead>
        <tr>
            Name
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Customers)
        {
            <tr>
                <td>customer.</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<CustomerDto> Customers { get; set; }
}
